body {
  background-color:#FDFDFD;
  margin: 0;
}
.social_link_item1 {
  text-decoration: none;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -2px;
  transition: color 0.3s;
}
.social_link_item1:hover {
  color: black;
}
.social_link {
  list-style-type: none;
  margin-left: 194px;
  margin-top: 35px;
}
.nav1 {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}
.nav-item1 {
  display: inline;
}
.nav-itemm {
  text-decoration: none;
  color: black;
}